.popup-overlay {
    position: fixed;
    top: -1.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .popup-container {
   
    background: white;
    padding: 20px;
    /* border-radius: 10px; */
    width: 90%;
    max-width: 600px;
    height: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    z-index:9999;
  } 

  
  .popup-content {
    flex: 1;
    overflow-y: auto; 
    padding-right: 10px; 
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .input-field,
  .textarea-field,
  .file-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .textarea-field {
    resize: none;
    height: 80px;
  }
  
  .image-preview {
    width: 100%; 
    height: auto; 
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .quill-editor {
    height: 300px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  